<div class="p-4 w-full text-center bg-white rounded-lg border shadow-md sm:p-8
    dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Guess
        Number</h5>
    <h5 class="mb-2 text-3xl text-gray-900
        dark:text-white">Number to guess is {{ randNumber }}</h5>
    <div class="mt-4">
        <span class="text-blue-500">Number of guesses : </span>
        {{ noOfTries }}
    </div>
    <div class="flex items-center justify-between">

        <input [(ngModel)]="guess"
            type="text" class="form-control relative
            flex-auto
            min-w-0 block w-full px-3 py-1.5 text-base font-normal
            text-gray-700 bg-white bg-clip-padding border border-solid
            border-gray-300 rounded transition ease-in-out m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600
            focus:outline-none" placeholder="Number" aria-label="Search"
            aria-describedby="button-addon2">
        <button
            (click)="startTest()"
            class="btn inline-block px-6 py-2.5 bg-blue-600
            text-white font-medium text-xs leading-tight uppercase
            rounded shadow-md hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none
            focus:ring-0 active:bg-blue-800 active:shadow-lg transition
            duration-150 ease-in-out flex items-center" type="button"
            id="button-addon2">
            Start
        </button>
        <button
            (click)="newRand()"
            class="py-2 px-4 bg-red-600 text-white rounded-r border-l
            border-gray-200 hover:bg-yellow-900 inline-flex items-center
            focus:outline-none">
            Restart
        </button>
    </div>
    <br/>
        <div class="ml-3 text-sm font-normal">{{ answer }}</div>
    </div>
